doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	head
		meta(name="charset" content="utf-8")
		meta(name="X-UA-Compatible" content="IE=edge")
		meta(name="keywords" content="")
		meta(name="description" content="")
		meta(name="theme-color" content="")

		meta(name="apple-mobile-web-app-title" content="")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-touch-fullscreen" content="yes")
		meta(name="format-detection" content="telephone=yes")

		meta(name="og:site_name" content="")
		meta(name="og:title" content="")
		meta(name="og:description" content="")
		meta(name="og:image" content="")
		meta(name="og:url" content="")

		meta(property="place:location:latitude" content="")
		meta(property="place:location:longitude" content="")
		meta(property="business:contact_data:locality" content="")
		meta(property="business:contact_data:country_name" content="")
		meta(property="business:contact_data:email" content="")
		meta(property="business:contact_data:phone_number" content="")
		meta(property="business:contact_data:website" content="")

		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="HandheldFriendly" content="True")
		meta(name="MobileOptimized" content="320")

		title
		link(rel="stylesheet" href="css/bundle.min.css" media="all")
		//- link(rel="icon" type="image/png" href="img/favicon/favicon.png")

	body
		main(role="main")
			//- section.intro.block#intro
				header.header
					a.logo(href="/" rel="nofollow")
						img.logo__img(src="img/logo.png" alt="Padana - чистые помещения")

					nav.menu.header__menu
						ul.menu__list
							li.menu__item
								a.menu__link.js-scroll-to(href="#portfolio") Наши проекты
							li.menu__item
								a.menu__link.js-scroll-to(href="#advantages") Преимущества
							li.menu__item
								a.menu__link.js-scroll-to(href="#certificates") Сертификаты
							li.menu__item
								a.menu__link.js-scroll-to(href="#clients") Отзывы
							li.menu__item
								a.menu__link.js-scroll-to(href="#scheme") Порядок работы
							li.menu__item
								a.menu__link.js-scroll-to(href="#contacts") Контакты

					nav.callback.header__callback
						a.callback__phone(href="call:+78126402589") +7 (812) 640 25 89
						a.callback__popup.js-popup(href="#callback" role="button") Заказать обратный звонок

				.intro__content
					a.intro__content--catalog(href="#" role="button")
						.intro__content--catalog-border
							.intro__content--catalog-inner
								img.intro__content--catalog-icon(src="img/icons/catalog.png" alt="")
								| скачать каталог

					h3.intro__content--title-small Padana 
						span.intro__content--title-small-sub чистые помещения

					h1.intro__content--title
						span.intro__content--title-sup Производство,<br> поставка и монтаж 
						span.intro__content--title-sub специальных ограждающих<br> конструкций для чистых помещений

					h2.intro__content--subtitle Напрямую от производителя 
						span.intro__content--subtitle-sub в Италии

					a.intro__content--button.js-popup(href="#callback" role="button") Рассчитать стоимость

				nav.lang.intro__lang
					a.lang__link(href="#") It
					a.lang__link.lang__link_current(href="#") Ru
					a.lang__link(href="#") En

			//- section.about.block#about
				h3.about__title
					span.about__title--first Почему отдают 
					span.about__title--second предпочтение 
					span.about__title--third европейскому 
					span.about__title--fourth производителю

				.about__slider.js-about-slider
					.about__slide
						.about__goodwork
							h4.about__slide-title Итальянское производство<br> от Padana:
							h5.about__slide-subtitle Высочайший<br> уровень качества
							p.about__slide-desc В производстве конструкций используется новейшее роботизированное оборудование и только высококачественный металл, что обеспечивает высокое качество продукции
						span.about__slide-decor
						p.about__slide-advantage Качество
						.about__badwork
							h4.about__slide-title Производители<br> Китая и РФ:
							h5.about__slide-subtitle Низкий уровень<br> качества
							p.about__slide-desc Со временем происходит деформация каркаса, наличие заусенцев на поверхности, отсутствие завольцовки, применениe некачественного дешевого металла

					.about__slide
						.about__goodwork
							h4.about__slide-title Итальянское производство<br> от Padana:
							h5.about__slide-subtitle Высочайший<br> уровень качества
							p.about__slide-desc В производстве конструкций используется новейшее роботизированное оборудование и только высококачественный металл, что обеспечивает высокое качество продукции
						span.about__slide-decor
						p.about__slide-advantage Качество
						.about__badwork
							h4.about__slide-title Производители<br> Китая и РФ:
							h5.about__slide-subtitle Низкий уровень<br> качества
							p.about__slide-desc Со временем происходит деформация каркаса, наличие заусенцев на поверхности, отсутствие завольцовки, применениe некачественного дешевого металла

				nav.about__slider-nav
					ul.about__slider-nav-list
						li.about__slider-nav-item.about__slider-nav-item_active качество
						li.about__slider-nav-item комплектующие
						li.about__slider-nav-item монтаж
						li.about__slider-nav-item сертификаты
						li.about__slider-nav-item обратная связь
						li.about__slider-nav-item внешний вид

			//- section.portfolio.block#portfolio
				h3.portfolio__title
					span.portfolio__title-first Более 
					span.portfolio__title-second 260 
					span.portfolio__title-third реализованных проектов 
					span.portfolio__title-fourth за 30 лет работы

				.portfolio__slider.js-portfolio-slider
					article.portfolio__slide
						h3.portfolio__slide-title Abbott
						p.portfolio__slide-square 2 400 м2
						img.portfolio__slide-photo(src="img/portfolio/abbott.jpg" alt="Abbott")
						.portfolio__slide-info
							p.portfolio__slide-name Abbott
							h4.portfolio__slide-subtitle фармацевтический завод
							dl.portfolio__slide-params
								div.portfolio__slide-param
									dt.portfolio__slide-param-name Страна:
									dd.portfolio__slide-param-value Ирландия
								div.portfolio__slide-param
									dt.portfolio__slide-param-name Площадь работ:
									dd.portfolio__slide-param-value 2 400 м2

					article.portfolio__slide
						h3.portfolio__slide-title Abbott 2
						p.portfolio__slide-square 2 400 м2
						img.portfolio__slide-photo(src="img/portfolio/abbott.jpg" alt="Abbott")
						.portfolio__slide-info
							p.portfolio__slide-name Abbott
							h4.portfolio__slide-subtitle фармацевтический завод
							dl.portfolio__slide-params
								div.portfolio__slide-param
									dt.portfolio__slide-param-name Страна:
									dd.portfolio__slide-param-value Ирландия
								div.portfolio__slide-param
									dt.portfolio__slide-param-name Площадь работ:
									dd.portfolio__slide-param-value 2 400 м2

				a.portfolio__button.button.js-popup(href="#callback" role="button") Обсудить свой проект

			//- section.advantages.block#advantages
				h3.advantages__title
					span.advantages__title-first Преимущества 
					span.advantages__title-second работы с "Padana"

				.advantages__list(role="list")
					strong.advantages__item(role="listitem") 
						p.advantages__item-text Покупка напрямую<br> от производителя
					strong.advantages__item(role="listitem")
						p.advantages__item-text Поставка в любой<br> регион России и мира
					strong.advantages__item(role="listitem")
						p.advantages__item-text Гарантия на<br> продукцию от 5 лет
					strong.advantages__item(role="listitem")
						p.advantages__item-text Офис в<br> России
					strong.advantages__item(role="listitem")
						p.advantages__item-text Возможна оплата<br> в российских рублях
					strong.advantages__item(role="listitem")
						p.advantages__item-text Помощь в кредите от<br> европейских банков

				a.advantages__video.js-video(href="https://www.youtube.com/watch?v=_rPi9nPnJ80" role="button")
					span.advantages__video-first Посмотрите 
					| видео о "Padana"

			//- .order.block#order-1
				section.order__content
					h3.order__title
						span.order__title-first Оставьте заявку, и 
						span.order__title-second мы свяжемся с<br> вами за 7 минут

					h4.order__subtitle
						span.order__subtitle-years 30 
						span.order__subtitle-desc лет успешной<br> работы уже за<br> плечами

					form.form.order__form(action="#" method="POST")
						input.form__input(type="text" placeholder="Как к Вам обращаться?")
						input.form__input(type="tel" placeholder="Куда нам перезвонить?")
						input.form__input(type="email" placeholder="Введите Ваш email")
						button.form__submit.button(type="submit") Свяжитесь со мной

			//- section.certificates.block#certificates
				h3.certificates__title
					span.certificates__title-first Сертификаты ЕС 
					span.certificates__title-second и 8 других стран, 
					span.certificates__title-third подтверждающие качество качество продукции во всем мире

				.certificates__list.js-certificates-slider(hidden)
					a.certificates__item.js-gallery(href="#" role="button")
						img.certificates__item-img(src="img/clients/abbott.jpg" alt="Отзыв от Abbott")
					a.certificates__item.js-gallery(href="#" role="button")
						img.certificates__item-img(src="img/clients/abbott.jpg" alt="Отзыв от Abbott")
					a.certificates__item.js-gallery(href="#" role="button")
						img.certificates__item-img(src="img/clients/abbott.jpg" alt="Отзыв от Abbott")

			//- section.clients.block#clients
				span.clients__decor-text
					span.clients__decor-text-first Мнения 
					span.clients__decor-text-second клиентов

				h3.clients__title
					span.clients__title-first Мнения клиентов, 
					span.clients__title-second сэкономивших с нами более 
						strong.clients__title-sum 54 млн. евро 
						| и тысячи часов личного времени

				.clients__list(role="list")
					article.clients__single(role="listitem")
						h5.clients__single-title ООО "Abbott"
						dl.clients__single-params
							.clients__single-param
								dt.clients__single-param-name Площадь работ:
								dd.clients__single-param-value 2 400 м2
						.clients__single-scroller
							img.clients__single-photo(src="img/clients/abbott.jpg" alt="Отзыв клиента Abbott")
						a.clients__single-contact(href="#") Узнать контакты клиента для связи
					article.clients__single(role="listitem")
						h5.clients__single-title ООО "Abbott"
						dl.clients__single-params
							.clients__single-param
								dt.clients__single-param-name Площадь работ:
								dd.clients__single-param-value 2 400 м2
						.clients__single-scroller
							img.clients__single-photo(src="img/clients/abbott.jpg" alt="Отзыв клиента Abbott")
						a.clients__single-contact(href="#") Узнать контакты клиента для связи

				a.clients__button.button(href="#" role="button") Показать еще 106 отзывов

			section.calculator.block#calculator
				h3.calculator__title
					span.calculator__title-first Рассчитайте стоимость 
					span.calculator__title-second конструкций для простого чистого помещения

				.calculator__content
					form.form.calculator__form(action="order.php" method="POST")
						input.form__input(type="text" placeholder="Введите площадь помещения (м2)")
						input.form__input(type="text" placeholder="Введите высоту помещения (м)")
						input.form__input(type="text" placeholder="Количество дверей (шт)")
						input.form__input(type="text" placeholder="Количество окон (шт)")
						.form__checkbox-single
							input.form__checkbox#option-1(type="checkbox" name="options[]" value="Передаточное окно")
							label.form__label(for="option-1") Передаточное окно
						.form__checkbox-single
							input.form__checkbox#option-2(type="checkbox" name="options[]" value="Тамбурный шлюз")
							label.form__label(for="option-2") Тамбурный шлюз
						.form__group.form__group-delivery
							strong.form__group-title Доставка конструкции в:
							.form__radio-single
								input.form__radio#delivery-1(type="radio" name="delivery" value="Запад России" checked)
								label.form__label(for="delivery-1") Запад России
							.form__radio-single
								input.form__radio#delivery-2(type="radio" name="delivery" value="Центр России")
								label.form__label(for="delivery-2") Центр России
							.form__radio-single
								input.form__radio#delivery-3(type="radio" name="delivery" value="Урал")
								label.form__label(for="delivery-3") Урал
							.form__radio-single
								input.form__radio#delivery-4(type="radio" name="delivery" value="Сибирь")
								label.form__label(for="delivery-4") Сибирь
							.form__radio-single
								input.form__radio#delivery-5(type="radio" name="delivery" value="Дальний восток")
								label.form__label(for="delivery-5") Дальний восток

						button.form__submit.button(type="submit") Рассчитать стоимость

					.calculator__content-checkout.js-checkout.js-checkout-empty
						p.calculator__content-checkout-title.js-checkout-title(aria-hidden="false") Здесь будет рассчитана стоимость 
						p.calculator__content-checkout-subtitle.js-checkout-title(aria-hidden="false") простого чистого помещения по вашим данным

				a.calculator__get-list.js-popup(href="#") Скачать перечень необходимых элементов конструкции по Вашему запросу

			section.scheme.block#scheme
				h3.scheme__title
					span.scheme__title-first Порядок работы 
					span.scheme__title-second Порядок работы с нами:

				.scheme__steps(role="list")
					.scheme__step.advantages__item(role="listitem")
						.scheme__step-text.advantages__item-text Вы заказываете обратный<br> звонок или связываетесь с<br> нами по телефону 
							a.scheme__step-button.js-popup(href="#" role="button") Заказать звонок
					.scheme__step.advantages__item(role="listitem")
						p.scheme__step-text.advantages__item-text Мы обсуждаем Ваш проект и<br> производим расчет стоимости,<br> согласно всем техническим<br> требованиям с Вашей стороны
					.scheme__step.advantages__item(role="listitem")
						p.scheme__step-text.advantages__item-text Назначаем личную встречу,<br> приглашаем Вас на наши объектны<br> и на сам завод производитель<br> в италию, утверждаем с Вами<br> бюджет реализации проекта
					.scheme__step.advantages__item(role="listitem")
						p.scheme__step-text.advantages__item-text Подписываем контракт.<br> Предоставляем возможность<br> заключения контракта с<br> российским юр. лицом -<br> Падана рус. в рос. рублях
					.scheme__step.advantages__item(role="listitem")
						p.scheme__step-text.advantages__item-text Приступаем к разработке рабочей<br> документации и согласования с<br> технологами проекта в производство<br> работ. Далее приступаем к<br> производству согласованных этапов<br> проекта и отгрузке на ваш объект
					.scheme__step.advantages__item(role="listitem")
						p.scheme__step-text.advantages__item-text Расстамаживаем<br> оборудование,<br> осуществляем монтаж и<br> сдачу объекта заказчику 

			section.faq.block#faq
				h3.faq__title
					span.faq__title-first Ответы на наиболее 
					span.faq__title-second волнующие вопросы

				.faq__content
					.faq__questions(role="list")
						.faq__question.js-faq#question-1(role="listitem" aria-controls="answer-1")
							p.faq__question-text Предоставляете ли вы гарантию на свою продукцию, монтаж и доставку?
							span.faq__question-to-answer Наш ответ
							span.faq__question-arrow
						.faq__question.faq__question_active.js-faq#question-2(role="listitem" aria-controls="answer-2")
							p.faq__question-text Берете ли вы на себя таможенные проблемы, ручаетесь за доставку?
							span.faq__question-to-answer Наш ответ
							span.faq__question-arrow
						.faq__question.js-faq#question-3(role="listitem" aria-controls="answer-3")
							p.faq__question-text Какую помощь в финансовом вопросе вы можете предложить?
							span.faq__question-to-answer Наш ответ
							span.faq__question-arrow
						.faq__question.js-faq#question-4(role="listitem" aria-controls="answer-4")
							p.faq__question-text Можно ли произвести оплату в российских рублях?
							span.faq__question-to-answer Наш ответ
							span.faq__question-arrow

					.faq__answers(role="list")
						.faq__answer#answer-1(role="listitem" aria-hidden="true" aria-labelledby="question-1")
							strong.faq__answer-title Предоставляете ли вы гарантию на свою продукцию, монтаж и доставку?
							p.faq__answer-text
								span.faq__answer-label Наш ответ: 
								| "Padana" дает гарантию на свою продукцию 5 лет, гарантию на качественный монтаж от европейских монтажных бригад и, разумеется, аккуратную доставку
						.faq__answer.faq__answer_active#answer-2(role="listitem" aria-hidden="false" aria-labelledby="question-2")
							strong.faq__answer-title Берете ли вы на себя таможенные проблемы, ручаетесь за доставку?
							p.faq__answer-text
								span.faq__answer-label Наш ответ: 
								| Все таможенные проблемы мы берем на себя и ручаемся за доставку Вашего заказа в идеальном состоянии и в оговоренные сроки!
						.faq__answer#answer-3(role="listitem" aria-hidden="true" aria-labelledby="question-3")
							strong.faq__answer-title Какую помощь в финансовом вопросе вы можете предложить?
							p.faq__answer-text
								span.faq__answer-label Наш ответ: 
								| "Padana" идет на компромиссы: мы можем начать работу без предоплаты, предоставить вам скидки до 15% при заказе от 1000м2 по полу, а так же мы поможем вам с получением выгодного кредита от европейских банков
						.faq__answer#answer-4(role="listitem" aria-hidden="true" aria-labelledby="question-4")
							strong.faq__answer-title Можно ли произвести оплату в российских рублях?
							p.faq__answer-text
								span.faq__answer-label Наш ответ: 
								| "Padana" - налогоплательщик России, мы принимаем оплату в российских рублях в Италии, предоставляем возможность заключения контракта с российским юр. лицом - Падана рус.

			.director.block#director
				img.director__photo(src="img/director.png" alt="Генеральный директор Padana Maria Angelo Rossi")

				section.director__content
					h3.director__title
						span.director__title-first Лично от 
						span.director__title-second генерального директора 
						span.director__title-third "Padana" 
						span.director__title-fourth Mario Angelo Rossi
					blockquote.director__cite-it Amici, sono lieto di darvi il benvenuto alla pagina ufficiale del nostro<br> sito, per più di 30 anni ho eseguito il PADANA società. Durante<br> questo tempo abbiamo creato un sacco di progetti interessanti,<br> che lavora per il bene della salute e progresso tecnico di<br> tutta l'umanità. Il nostro segreto di successo - questi sono<br> i nostri valori fondamentali: come per ascoltare, ascoltare e<br> assistere il cliente in tutti i suoi sforzi, e la qualità e la cultura<br> del lavoro è un manuale per noi!
					blockquote.director__cite-ru Друзья, я рад приветствовать вас на официальной<br> странице нашего сайта, вот уже более 30 лет я управляю<br> компанией PADANA. За это время мы создали много<br> интересных проектов, работающих  на благо здоровья и<br> технического прогресса всего человечества. Наш секрет<br> успеха - это наши базовые ценности: такие как слушать,<br> слышать и помогать клиенту во всех его начинаниях, а<br> качество и культура в работе для нас<br> являются настольной книгой!
					.director__info
						p.director__info-name Mario Angelo Rossi
						p.director__info-post генеральный директор ООО "Padana"
					img.director__sign(src="img/signature.png" alt="Mario Angelo Rossi")

			section.order2.block#order-2
				h3.order2__title
					span.order2__title-first Не нашли ответа<br> на свой вопрос? 
					span.order2__title-second Задайте его лично<br> Mario Angelo Rossi

				form.form.order2__form(action="#" method="POST")
					input.form__input(type="text" placeholder="Как к Вам обращаться?")
					input.form__input(type="tel" placeholder="Куда нам перезвонить?")
					input.form__input(type="email" placeholder="Введите Ваш email")
					textarea.form__textarea(placeholder="Задайте Ваш вопрос генеральному директору «Padana»:")
					button.form__submit.button(type="submit") Задать свой вопрос

			section.contacts.block#contacts
				span.contacts__decor-text
					span.contacts__decor-text-first Контактная 
					span.contacts__decor-text-second информация
					
				h4.contacts__title Контактная информация

				.contacts__info
					.contacts__info-russia
						h5.contacts__info-country Россия:
						a.contacts__info-phone(href="tel:+78126402589") +7 (812) 640 25 89
						a.contacts__info-email(href="mailto:client@padanacleanroom.com") client@padanacleanroom.com
						address.contacts__info-address г. Санкт-Петербург,<br> Ленинский проспект, 141 
					.contacts__info-italy
						h5.contacts__info-country Италия:
						a.contacts__info-phone(href="tel:+39037289170") +39 0372 89170
						a.contacts__info-email(href="mailto:info@padanacleanroom.it") info@padanacleanroom.it
						address.contacts__info-address Via Kennedy, 29 - 26044<br> Levata di Grontardo, Cremona (ITALY)

				a.contacts__button.button.js-popup(href="#callback" role="button") Свяжитесь со мной

				small.contacts__copyrights (с) 2017 Все права защищены<br> Любое копирование материалов запрещено

		script(src="js/jquery-1.12.4.min.js")
		script(src="js/bundle.min.js")
