@font-face {
    font-family: 'ProximaNova Extrabold';
    src: url('../fonts/ProximaNova-Extrabold.otf') format('opentype'),
         url('../fonts/ProximaNova-Extrabold.woff') format('woff'),
         url('../fonts/ProximaNova-Extrabold.woff2') format('woff2');
}

@font-face {
    font-family: 'ProximaNova Bold';
    src: url('../fonts/ProximaNova-Bold.otf') format('opentype'),
         url('../fonts/ProximaNova-Bold.woff') format('woff'),
         url('../fonts/ProximaNova-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'ProximaNova Semibold';
    src: url('../fonts/ProximaNova-Semibold.otf') format('opentype'),
         url('../fonts/ProximaNova-Semibold.woff') format('woff'),
         url('../fonts/ProximaNova-Semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'ProximaNova Regular';
    src: url('../fonts/ProximaNova-Regular.otf') format('opentype'),
         url('../fonts/ProximaNova-Regular.woff') format('woff'),
         url('../fonts/ProximaNova-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'ProximaNova Light';
    src: url('../fonts/ProximaNova-Light.otf') format('opentype'),
         url('../fonts/ProximaNova-Light.woff') format('woff'),
         url('../fonts/ProximaNova-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'UniSansHeavyCaps';
    src: url('../fonts/UniSansHeavyCaps.woff') format('woff'),
         url('../fonts/UniSansHeavyCaps.woff2') format('woff2');
}

// $boldest: 'ProximaNova Black', 'Open Sans Black', sans-serif;
$extrabold: 'ProximaNova Extrabold', 'Open Sans Bold', sans-serif;
$bold: 'ProximaNova Bold', 'Open Sans Bold', sans-serif;
$semibold: 'ProximaNova Semibold', 'Open Sans Semibold', sans-serif;
$regular: 'ProximaNova Regular', 'Open Sans', sans-serif;
$light: 'ProximaNova Light', 'Open Sans Light', sans-serif;
$unisans: 'UniSansHeavyCaps', 'Intro', sans-serif;