/* --------- variables --------- */


$black: #000;
$blue-dark: #001b58;
$blue: #024fff;
$pink: #f857a6;
$coral: #ff5859;
$white: #fff;

$transitionDuration: .3s;


/* --------- global elements styles --------- */


*,
*:before,
*:after {
  box-sizing: border-box;
}

address {
  font-style: normal;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure, p {
  margin: 0;
}

a {
  text-decoration: none;
}

input::-ms-clear {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

body {
  font-family: $regular;
  color: $blue-dark;
}

.slick-slide,
input, textarea, button,
a, a:focus, a:active {
  outline: none;
}

.block {
  background: no-repeat center top;
  background-size: cover;
}

.button {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: $extrabold;
  font-size: 30px;
  line-height: 66px;
  letter-spacing: calc(30px * .03);
  text-transform: uppercase;
  text-align: center;
  color: $white;
  background-image: linear-gradient(to bottom, $coral, $pink);
  border: none;
  transition: background $transitionDuration ease;

  &, &:after {
    max-width: 472px;
    width: 100%; height: 64px;
    border-radius: 35px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    box-shadow: 0 0 44.2px 20.8px $coral; 
    mix-blend-mode: multiply;
  }

  &:hover {
    background-image: linear-gradient(to bottom, $pink, $coral);
  }
}


/* --------- header --------- */


.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0; left: 0;
  width: 100%;
  padding: 20px calc((100vw - 1440px) / 2);
  color: $white;
  z-index: 3;
}

.logo {
  display: block;

  &__img {
    display: block;
    max-width: 100%;
  }
}

.menu {
  position: absolute;
  top: 0; left: 50%;
  transform: translateX(-50%);

  &__item {
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }

  &__link {
    position: relative;
    display: block;
    padding: 40px 15px 15px;
    font-size: 18px;
    color: $white;
    transition: background $transitionDuration ease;

    &:hover {
      background: $coral;
    }
  }
}

.callback {
  text-align: center;

  &__phone,
  &__popup {
    display: block;
  }

  &__phone {
    font-family: $unisans;
    font-size: 30px;
    line-height: 1;
    letter-spacing: calc(30px * .05);
    color: $coral;
  }

  &__popup {
    margin-top: 2.5px;
    font-family: $light;
    font-size: 19px;
    letter-spacing: calc(19px * .05);
    color: $white;

    &:hover {
      color: $coral;
    }
  }
}

.lang {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: calc((100vw - 1440px) / 2); bottom: 7.41%;

  &__link {
    position: relative;
    width: 36px; height: 36px;
    margin: 0 5px;
    font-family: $light;
    font-size: 12px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    border: 1px solid $white;
    border-radius: 50%;

    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }

    &:not(:first-child):before {
      content: '';
      position: absolute;
      top: 50%; left: -10px;
      width: 10px; height: 1px;
      margin-top: -1px;
      background: $coral;
      pointer-events: none;
    }

    &_current {
      width: 50px; height: 50px;
      font-family: $extrabold;
      font-size: 14px;
      line-height: 52px;
      border: none;
      background: url('../img/bg-lang-current.svg') no-repeat center;
      background-size: 100% 100%;
    }
  }
}


/* --------- intro --------- */


.intro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0;
  background-image: url('../img/bg-intro.jpg');

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 802px; height: 803px;
    margin: 0 auto;
    text-align: center;
    background: url('../img/bg-menu.png') no-repeat center;

    &--title-small,
    &--title,
    &--subtitle,
    &--catalog,
    &--button {
      font-family: $extrabold;
      text-transform: uppercase;
    }

    &--title-small {
      position: absolute;
      top: 90px; left: 50%;
      transform: translateX(-50%);
      font-size: 60px;
      line-height: 1;
      letter-spacing: calc(60px * .15);
      color: rgba($white, .3);

      &-sub {
        display: block;
        margin-top: -5px;
        font-size: 24px;
        letter-spacing: calc(24px * .075);
      }
    }

    &--title {
      margin: 86px 0 0;

      &-sup {
        font-size: 48px;
        line-height: 1;
        color: $white;
      }

      &-sub {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 823px; height: 83px;
        transform: translateX(30px);
        margin: 10px 0 0;
        padding-right: 30px;
        font-size: 30px;
        color: $blue;
        background: url('../img/bg-intro-title.svg') no-repeat center top;
      }
    }

    &--subtitle {
      margin: 15px 0 0;
      font-size: 27px;
      line-height: 29px;
      color: $white;

      &-sub {
        display: block;
        font-size: 30px;
      }
    }

    &--button {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 366px;
      width: 100%; height: 52px;
      margin: 40px auto 0;
      padding: 2px 0 0;
      font-size: 22px;
      letter-spacing: calc(22px * .05);
      line-height: 1;
      color: $white;
      background: $blue;
      transition: all $transitionDuration ease;

      &, &:after {
        max-width: 366px;
        width: 100%; height: 52px;
        border-radius: 25px;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0; left: 0;
        box-shadow: 0 0 44.2px 20.8px $blue; 
        mix-blend-mode: multiply;
      }

      &:hover {
        color: $blue;
        background: $white;
      }
    }

    &--catalog {
      position: absolute;
      top: 18px; right: 10px;
      width: 222px; height: 223px;
      padding: 10px;
      border-radius: 50%;
      background-image: linear-gradient(to bottom, rgba($coral, .2), rgba($pink, .2));

      &-border {
        width: 100%; height: 100%;
        padding: 10px;
        background: url('../img/bg-catalog-border.png') no-repeat center top;
        background-size: 100% 100%;
        transition: background $transitionDuration ease;
      }

      &-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; height: 100%;
        font-size: 19.21px;
        line-height: 22.18px;
        letter-spacing: calc(19.21px * .2);
        border-radius: 50%;
        color: $white;
      }

      &-icon {
        margin: 0 0 10px;
      }

      &:hover &-border {
        background-image: url('../img/bg-catalog-hover.png');
      }
    }
  }
}


/* --------- about --------- */


.about {
  padding: 0 calc((100vw - 1440px) / 2);
  background-image: url('../img/bg-about.jpg');

  &__title {
    position: relative;
    padding: 80px 0 0 50px;
    text-transform: uppercase;

    &:before {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 475px; height: 300px;
      background: $white;
      box-shadow: 0 0 44.2px 20.8px rgba($blue, .09);
      pointer-events: none;
    }

    &--first,
    &--second,
    &--third,
    &--fourth {
      position: relative;
    }

    &--first,
    &--third,
    &--fourth {
      font-family: $extrabold;
    }

    &--second,
    &--third,
    &--fourth {
      font-size: 60px;
      line-height: 1;
      letter-spacing: calc(60px * .05);
    }

    &--first,
    &--second {
      font-style: italic;
    }

    &--first,
    &--fourth {
      color: $blue;
    }

    &--first {
      font-size: 36px;
      letter-spacing: calc(36px * .05);
    }

    &--second {
      display: block;
      font-family: $light;
    }
  }

  &__slider {
    max-width: 1205px; height: 462px;
    margin: 85px auto 0;
    padding: 60px 0 0;
    background: url('../img/bg-slider.svg') no-repeat center top;
  }

  &__slide {
    position: relative;
    display: flex !important;
    justify-content: space-between;
    align-items: flex-start;

    &-title,
    &-desc {
      color: $blue;
    }

    &-title {
      margin: 0 0 45px;
      font-family: $extrabold;
      font-size: 36px;
      line-height: 1;
      text-transform: uppercase;
    }

    &-subtitle {
      font-family: $extrabold;
      font-size: 24px;
      line-height: 1;
      letter-spacing: calc(24px * .01);
      text-transform: uppercase;
    }

    &-desc {
      max-width: 405px;
      margin: 10px 0 0;
      font-family: $light;
      font-style: italic;
      font-size: 20px;
      letter-spacing: calc(16px * .01);
    }
  }

  &__badwork &__slide-title,
  &__badwork &__slide-subtitle,
  &__badwork &__slide-desc {
    text-align: right;
    color: $blue-dark;
    opacity: .7;
  }

  &__slide-decor,
  &__slide-advantage {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  }

  &__slide-decor {
    width: 450px; height: 10px;
    background: url('../img/icons/about-decor.png') no-repeat center;
    pointer-events: none;
  }

  &__slide-advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 380px; height: 58px;
    padding: 0 50px;
    font-family: $extrabold;
    font-size: 40px;
    line-height: 1;
    letter-spacing: calc(40px * .1);
    text-transform: uppercase;
    color: $blue-dark;
    background: $white;
    box-shadow: 0 0 44.2px 20.8px rgba($blue-dark, .09);
  }

  &__arrow {
    position: absolute;
    top: 50%; margin-top: -21.5px;
    width: 43px; height: 43px;
    cursor: pointer;
    transition: opacity $transitionDuration ease;

    &:hover {
      opacity: .8;
    }

    &_prev {
      left: -120px;
      background: url('../img/icons/arrow-advantages-prev.png') no-repeat center;
    }

    &_next {
      right: -120px;
      background: url('../img/icons/arrow-advantages-next.png') no-repeat center;
    }
  }

  &__slider-nav {
    margin: 90px 0 0;
    text-align: center;
    counter-reset: about;

    &-item {
      position: relative;
      display: inline-block;
      min-width: 80px;
      margin: 0;
      padding: 13px 0 0 10px;
      text-align: left;
      letter-spacing: calc(14px * .01);
      color: rgba($blue-dark, .3);
      background: url('../img/icons/about-nav-decor.png') no-repeat top left;
      vertical-align: middle;
      cursor: pointer;
      transition: color $transitionDuration ease;

      &:before {
        counter-increment: about;
        content: "0" counter(about);
        position: absolute;
        top: -20px; left: 10px;
        font-size: 20px;
        letter-spacing: calc(20px * .01);
      }

      &, &:before {
        font-family: $extrabold;
        font-style: italic;
        line-height: 1;
      }

      &:nth-child(2) { margin-left: 41px; }
      &:nth-child(3) { margin-left: 27px; }
      &:nth-child(4) { margin-left: 45px; }
      &:nth-child(5) { margin-left: 26px; }
      &:nth-child(6) { margin-left: 15px; }

      &:hover,
      &_active {
        color: $blue-dark;
      }
    }
  }
}


/* --------- portfolio --------- */


.portfolio {
  padding: 0 calc((100vw - 1440px) / 2);
  background-image: url('../img/bg-portfolio.jpg');

  &__title {
    position: relative;
    padding: 35px 0 0 50px;
    color: $white;

    &:before {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 472px; height: 250px;
      background: $blue;
      box-shadow: 3px 12px 38.18px 7.82px rgba($blue, .29); 
      pointer-events: none;
    }

    &-first,
    &-second,
    &-third,
    &-fourth {
      position: relative;
      line-height: 60px;
    }

    &-second,
    &-third,
    &-fourth {
      font-family: $extrabold;
    }

    &-first,
    &-second,
    &-fourth {
      font-style: italic;
    }

    &-first,
    &-fourth {
      font-size: 36px;
      letter-spacing: calc(36px * .05);
    }

    &-second {
      font-size: 100px;
      letter-spacing: calc(100px * .05);
    }

    &-third {
      display: block;
      font-size: 60px;
      letter-spacing: calc(60px * .05);
      text-transform: uppercase;
      color: $blue-dark;
    }

    &-fourth {
      line-height: 45px;
      text-transform: uppercase;
    }
  }

  &__slider,
  &__slide {
    position: relative;
    width: 960px !important;
    height: 545px !important;
  }

  &__slider {
    margin: 50px auto 0;
  }

  &__slide {
    
    &-title,
    &-square,
    &-photo,
    &-info {
      position: absolute;
    }

    &-square {
      bottom: 0; right: 0;
      padding: 180px 70px 15px;
      border: 1px solid $blue;
    }

    &-title,
    &-square {
      font-family: $extrabold;
      font-size: 100px;
      line-height: 1;
      letter-spacing: calc(100px * .05);
      text-transform: uppercase;
    }

    &-title {
      top: -13px; left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      color: rgba($blue, .2);
    }

    &-square {
      font-style: italic;
      color: rgba($blue, .1);
    }

    &-photo {
      top: 57px; left: 0;
      width: 595px; height: 340px;
    }

    &-info {
      top: 187px; right: 120px;
      padding: 37.5px 50px 52.5px;
      font-size: 20px;
      text-align: center;
      color: $blue;
      background: $white;
      box-shadow: 0 0 44.2px 20.8px rgba($blue, .09); 
    }

    &-name {
      margin: 0 0 2px;
      font-family: $extrabold;
      font-size: 36px;
      line-height: 1;
      letter-spacing: calc(36px * .05);
      text-transform: uppercase;
    }

    &-subtitle,
    &-param-name {
      font-style: italic;
    }

    &-params {
      margin: 25px 0 0;
      text-align: left;
    }

    &-param {

      &-name,
      &-value {
        display: inline-block;
      }

      &-value {
        margin: 0 0 0 5px;
        font-family: $bold;
        font-size: 22px;
        font-style: normal;
      }
    }
  }

  &__arrow {
    position: absolute;
    width: 56px; height: 56px;
    background: $white;
    cursor: pointer;
    transition: opacity $transitionDuration ease;
    z-index: 1;

    &:hover {
      opacity: .8;
    }

    &:before,
    &:after {
      position: absolute;
    }

    &:before {
      top: 50%;
      transform: translateY(-50%);
      font-family: $light;
      font-style: italic;
      font-size: 14px;
      line-height: 1;
      color: $blue-dark;
      white-space: nowrap;
    }

    &:after {
      content: '';
      width: 67px; height: 46px;
      top: 50%; margin-top: -23px;
    }

    &_prev {
      left: 122px; bottom: 45px;

      &:before {
        content: 'Предыдущий объект';
        right: 42px;
      }

      &:after {
        right: -34px;
        background: url('../img/icons/arrow-portfolio-prev.png') no-repeat center;
      }
    }

    &_next {
      top: 80px; right: 212px;

      &:before {
        content: 'Следующий объект';
        left: 46px;
      }

      &:after {
        left: -34px;
        background: url('../img/icons/arrow-portfolio-next.png') no-repeat center;
      }
    }
  }

  &__button {
    margin-top: -32px;

    &:after {
      content: none;
    }
  }
}


/* --------- advantages --------- */


.advantages {
  position: relative;
  padding: 0 calc((100vw - 1440px) / 2);
  color: $blue-dark;
  background: url('../img/bg-advantages.jpg') no-repeat top -20px center;
  background-size: cover;

  &__title {
    position: relative;
    padding: 78px 0 0;
    font-family: $extrabold;
    line-height: 1;
    text-transform: uppercase;

    &:before {
      content: '';
      position: absolute;
      top: 165px; left: 472px;
      width: 455px; height: 6px;
      border-radius: 5px;
      background: rgba($blue, .2);
    }

    &-first {
      font-size: 72px;
      letter-spacing: calc(72px * .1);
    }

    &-second {
      display: block;
      margin: 3px 0 0;
      font-size: 40px;
      font-style: italic;
      letter-spacing: calc(40px * .05);
      color: $blue;
    }
  }

  &__item {
    position: relative;
    display: block;
    width: 470px; height: 160px;
    margin: 0;
    font-family: $extrabold;
    font-style: italic;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: calc(30px * .025);
    text-align: center;
    text-transform: uppercase;
    border-radius: 1px;
    box-shadow: 0 0 44.2px 20.8px rgba($blue, .09);

    &:before {
      counter-increment: advantages;
      content: "0" counter(advantages);
      position: absolute;
      top: -58px; left: 10px;
      font-family: $extrabold;
      font-size: 92px;
      font-style: italic;
      line-height: 1;
      color: $blue;
    }

    &-text {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%; height: 100%;
      padding: 5px;
      background: $white;
    }
  }

  &__list {
    position: relative;
    width: 100%; height: 624px;
    margin: 95px 0 0;
    counter-reset: advantages;

    .advantages__item {
      position: absolute;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        top: 0;
      }

      &:nth-child(5),
      &:nth-child(6) {
        top: 465px;
      }

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        left: 968px;
      }

      &:nth-child(2),
      &:nth-child(6) {
        left: 488px;
      }

      &:nth-child(1) { left: 0; }
      &:nth-child(4) { top: 232px; }
    }
  }

  &__video {
    position: absolute;
    top: 570px; left: calc((100vw - 1440px + 430px) / 2);
    font-family: $extrabold;
    font-size: 36px;
    font-style: italic;
    line-height: 1;
    letter-spacing: calc(36px * .025);
    text-transform: uppercase;
    color: $blue-dark;
    transition: opacity $transitionDuration ease;

    &:hover {
      opacity: .8;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
    }

    &:before {
      top: 10px; left: 185px;
      width: 275px; height: 6px;
      background-image: linear-gradient(to bottom, rgba($coral, .2), rgba($pink, .2));
      border-radius: 5px;
    }

    &:after {
      top: 50%; right: -240px;
      width: 189px; height: 190px;
      margin-top: -95px;
      background: url('../img/icons/play.png') no-repeat center;
    }

    &-first {
      display: block;
      font-family: $light;
      font-size: 24px;
      letter-spacing: calc(24px * .05);
    }
  }
}


/* --------- order --------- */


.order {
  position: relative;
  background-image: url('../img/bg-order.jpg');

  &__content {
    position: absolute;
    top: 160px; right: 390px;
    width: 682px; height: 715px;
    background: url('../img/bg-form-1.png') no-repeat center;
  }

  &__form,
  &__title,
  &__subtitle-years,
  &__subtitle-desc {
    position: absolute;
  }

  &__title {
    top: 85px; left: -375px;
    font-family: $extrabold;
    font-style: italic;
    font-size: 60px;
    letter-spacing: calc(60px * .03);
    line-height: 60px;
    text-transform: uppercase;
    color: $blue;

    &-first {
      display: block;
      font-family: $light;
      font-size: 48px;
      letter-spacing: calc(48px * .03);
      color: $white;
    }
  }

  &__subtitle {

    &-years {
      bottom: 120px; left: -185px;
      font-family: $extrabold;
      font-size: 300px;
      line-height: 220px;
      letter-spacing: 0;
      color: mix($coral, $pink, 50%);
      background: -webkit-linear-gradient($coral, $pink);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &-desc {
      left: -605px; bottom: 45px;
      font-family: $light;
      font-style: italic;
      font-size: 30px;
      line-height: 33px;
      letter-spacing: calc(30px * .03);
      text-transform: uppercase;
      text-align: right;
      color: $white;

      &:after {
        content: '';
        position: absolute;
        right: -230px; top: 40px;
        width: 195px; height: 6px;
        background-image: linear-gradient(to bottom, rgba($coral, .2), rgba($pink, .2));
        border-radius: 5px;
      }
    }
  }

  &__form {
    top: 140px; right: -155px;
    width: 472px;

    .form__input {
      height: 65px;
    }

    .form__submit {
      width: 100%;
      margin-top: 35px;
    }
  }
}


/* --------- certificates --------- */


.certificates {
  position: relative;
  padding: 0 calc((100vw - 1440px) / 2);
  color: $blue;
  background: url('../img/bg-certificates.jpg') no-repeat center;

  &__title {
    position: relative;
    padding: 50px 0 0 50px;
    font-family: $extrabold;
    line-height: 52px;

    &:before {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 475px; height: 300px;
      background: $white;
      box-shadow: 0 0 44.2px 20.8px rgba($blue, .09);
      pointer-events: none;
    }

    &-first,
    &-second,
    &-third {
      position: relative;
    }

    &-first,
    &-second {
      text-transform: uppercase;
    }

    &-first {
      font-size: 72px;
      letter-spacing: calc(72px * .05);
    }

    &-second {
      display: block;
      font-size: 60px;
      letter-spacing: calc(60px * .025);
      color: $blue-dark;
    }

    &-third {
      font-family: $light;
      font-style: italic;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: calc(40px * .025);
    }
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 714px; height: 714px;
    margin: 20px auto 0;
    background: url('../img/bg-certificate.png') no-repeat center;
  }

  &__item {

    &-img {
      display: block;
      width: 363px; height: 515px;
      margin: 0 auto;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%; transform: translateY(-50%);
    width: 31px; height: 50px;
    cursor: pointer;
    z-index: 1;
    transition: opacity $transitionDuration ease;

    &:hover {
      opacity: .8;
    }

    &_prev {
      left: -120px;
      background: url('../img/icons/arrow-certificates-prev.png') no-repeat center;
    }

    &_next {
      right: -120px;
      background: url('../img/icons/arrow-certificates-next.png') no-repeat center;
    }
  }
}


/* --------- clients --------- */


.clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 calc((100vw - 1440px) / 2);
  background-image: url('../img/bg-clients.jpg');
  background-size: auto;

  &__title,
  &__list,
  &__button {
    position: relative;
  }

  &__title {
    text-align: left;
    font-family: $semibold;
    font-style: italic;
    font-size: 30px;
    letter-spacing: calc(30px * .012);
    line-height: 1;

    &-first {
      display: block;
      font-family: $extrabold;
      font-size: 75px;
      letter-spacing: calc(75px * .035);
      text-transform: uppercase;
      color: $blue;
    }

    &-sum {
      font-family: $extrabold;
      font-size: 36px;
      letter-spacing: calc(36px * .012);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 75px 0 90px;
  }

  &__single {
    width: calc(50% - 5px);
    padding: 25px 0;
    text-align: center;
    background: $white;
    box-shadow: 0 0 44.2px 20.8px rgba($blue, .09);

    &-title {
      font-family: $extrabold;
      font-size: 30px;
      line-height: 1;
      letter-spacing: calc(30px * .035);
      text-transform: uppercase;
    }

    &-params,
    &-param-name {
      margin: 0;
    }

    &-param {

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }

    &-param-name,
    &-param-value {
      display: inline-block;
      font-size: 22px;
      letter-spacing: calc(22px * .01);
      vertical-align: middle;
    }

    &-param-name {
      font-style: italic;
    }

    &-param-value {
      margin: 0 0 0 4px;
      font-family: $bold;
      text-transform: uppercase;
    }

    &-scroller {
      height: 280px;
      margin: 20px 0 0;
      overflow-x: hidden;
      overflow-y: scroll;
      border: 1px solid $coral;
    }

    &-photo {
      display: block;
      width: 100%; height: auto;
    }

    &-contact {
      display: inline-block;
      margin: 20px 0 0;
      font-size: 24px;
      color: $blue;
      border-bottom: 1px solid $blue;
      transition: border $transitionDuration ease;

      &:hover {
        border-color: transparent;
      }
    }
  }

  &__button {
    font-size: 26px;
    letter-spacing: calc(26px * .025);

    &:after {
      content: none;
    }
  }

  &__decor-text {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-family: $extrabold;
    font-size: 200px;
    line-height: 1;
    letter-spacing: calc(200px * .035);
    text-align: center;
    text-transform: uppercase;
    color: mix($coral, $pink, 50%);
    background: -webkit-linear-gradient($coral, $pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .07;
    pointer-events: none;

    &-first, &-second {
      display: block;
    }

    &-first { margin: 50px 0 0; }
    &-second { margin: 350px 0 0; }
  }
}


/* --------- calculator --------- */


.calculator {
  padding: 0 calc((100vw - 1440px) / 2);
  color: $white;
  background-image: url('../img/bg-order.jpg');

  &__title {
    padding: 75px 0 0 40px;
    font-family: $extrabold;

    &:before {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 475px; height: 250px;
      background: $blue;
      box-shadow: 3px 12px 38.18px 7.82px rgba($blue-dark, .28); 
      pointer-events: none;
    }

    &:before, &-first, &-second {
      z-index: 1;
    }

    &, &-first, &-second {
      position: relative;
    }

    &-first {
      display: block;
      font-size: 72px;
      line-height: 1;
      letter-spacing: calc(72px * .075);
      text-transform: uppercase;
    }

    &-second {
      font-family: $regular;
      font-size: 36px;
      font-style: italic;
      line-height: 38px;
      letter-spacing: calc(36px * .05);
    }
  }

  &__content {
    position: relative;
    width: 956px;
    margin: 30px auto 0;
    padding: 70px 120px 90px;
    border: 1px solid mix($coral, $pink, 50%);

    &-checkout {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -120px; right: -280px;
      width: 475px; height: 300px;
      padding: 15px 50px;
      background: $blue;
      box-shadow: 3px 12px 38.18px 7.82px rgba($blue-dark, .28);

      &:before {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        box-shadow: 0 0 44.2px 20.8px $coral; 
        mix-blend-mode: multiply;
      }

      &:after {
        content: '*уточняйте точную сумму у менеджера';
        position: absolute;
        bottom: -25px; left: 0;
        width: 100%;
        font-size: 14px;
        font-style: italic;
        line-height: 1;
        letter-spacing: calc(14px * .03);
        text-align: center;
        opacity: .20;
      }

      &-title,
      &-subtitle {
        font-style: italic;
        text-align: center;

        &:not[aria-hidden="false"],
        &[aria-hidden="true"] {
          display: none;
        }
      }

      &-title {
        font-family: $extrabold;
        font-size: 36px;
        line-height: 39px;
        letter-spacing: calc(36px * .1);
        text-transform: uppercase;
      }

      &-subtitle {
        margin: 10px 0 0;
        font-size: 24px;
        line-height: 1;
        letter-spacing: calc(24px * .025);
      }
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .form__input {
      width: calc(50% - 6px); height: 46px;
      margin-bottom: 20px;
      font-size: 18px;
      letter-spacing: calc(18px * .025);

      &:nth-of-type(odd) { margin-right: 6px; }
      &:nth-of-type(even) { margin-left: 6px; }
    }

    .form__group-delivery {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 30px 0 0;
    }

    .form__submit {
      margin-top: 60px;
      font-size: 27px;
      letter-spacing: calc(27px * .05);

      &:before {
        content: '';
        position: absolute;
        width: 104px; height: 67px;
        bottom: -67px; left: 50%;
        background: url('../img/icons/arrow-calculator.png') no-repeat center;
        pointer-events: none;
      }
    }
  }

  &__get-list {
    display: block;
    max-width: 504px;
    margin: 30px auto 0;
    font-family: $light;
    font-size: 24px;
    font-style: italic;
    line-height: 24px;
    letter-spacing: calc(24px * .025);
    text-decoration: underline;
    text-align: center;
    color: $white;

    &:hover {
      text-decoration: none;
    }
  }
}


/* --------- scheme --------- */


.scheme {
  padding: 115px calc((100vw - 1440px) / 2) 0;
  background-image: url('../img/bg-scheme.jpg');
  background-size: auto;

  &__title {
    font-family: $extrabold;
    line-height: 1;
    text-transform: uppercase;

    &-first {
      font-size: 90px;
      letter-spacing: calc(90px * .07);
    }

    &-second {
      display: block;
      margin: 18px 0 0;
      font-style: italic;
      font-size: 40px;
      letter-spacing: calc(40px * .03);
      color: $blue;
    }
  }

  &__steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px 0 0;
    counter-reset: steps;
  }

  &__step {
    height: 200px;
    margin-top: 95px;

    &:before {
      counter-increment: steps;
      content: "0" counter(steps);
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px;
      font-family: $semibold;
      font-size: 22px;
      line-height: 24px;
      letter-spacing: calc(22px * .025);
      text-transform: none;
    }

    &:first-of-type &-text {
      font-size: 20px;
      letter-spacing: calc(20px * .025);
      text-transform: uppercase;
    }

    &:last-of-type &-text {
      font-family: $extrabold;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: calc(24px * .025);
      text-transform: uppercase;
    }

    &-button {
      display: block;
      width: 310px; height: 46px;
      margin: 10px auto 0;
      font-family: $extrabold;
      font-size: 24px;
      font-style: normal;
      line-height: 46px;
      letter-spacing: calc(24px * .025);
      text-align: center;
      text-transform: uppercase;
      color: $blue;
      border: 1px solid $blue;
      border-radius: 30px;
      transition: background $transitionDuration ease,
                  color $transitionDuration ease;

      &:hover {
        color: $white;
        background: $blue;
      }
    }
  }
}


/* --------- faq --------- */


.faq {
  padding: 0 calc((100vw - 1440px) / 2);
  background-image: url('../img/bg-faq.jpg');

  &__title {
    padding: 95px 0 0 40px;
    font-family: $extrabold;
    text-transform: uppercase;

    &:before {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 475px; height: 300px;
      background: $blue;
      box-shadow: 3px 12px 38.18px 7.82px rgba($blue-dark, .28); 
      pointer-events: none;
    }

    &, &-first, &-second {
      position: relative;
    }

    &-first {
      display: block;
      font-family: $regular;
      font-style: italic;
      font-size: 40px;
      letter-spacing: calc(40px * .025);
      text-transform: none;
      color: $white;
    }

    &-second {
      font-size: 72px;
      line-height: 1;
      letter-spacing: calc(72px * .035);
    }
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 0 0;
  }

  &__questions {
    max-width: 715px;
    padding-left: 120px;
    counter-reset: questions;
  }

  &__question {
    position: relative;
    padding-left: 120px;
    cursor: pointer;

    &:before {
      counter-increment: questions;
      content: "0" counter(questions);
      position: absolute;
      top: -10px; left: 0;
      font-family: $extrabold;
      font-size: 80px;
      font-style: italic;
      line-height: 1;
      letter-spacing: 0;
      color: $blue;
    }

    &:after {
      content: '';
      display: block;
      width: 420px; height: 1px;
      margin: 18px 0 0 -120px;
      background: rgba($blue-dark, .1);
      box-shadow: 1px 2px 5.95px 1.05px rgba($blue-dark, .1); 
    }

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }

    &_active {
      margin-left: 60px;
    }

    &-text {
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 1;
      letter-spacing: calc(24px * .012);
    }

    &-to-answer {
      position: relative;
      font-family: $light;
      font-size: 18px;
      font-style: italic;
      line-height: 1;
      letter-spacing: calc(18px * .1);
      color: mix($coral, $pink, 50%);
      background: -webkit-linear-gradient($coral, $pink);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &:after {
        content: '';
        position: absolute;
        top: 50%; right: -24px;
        width: 13px; height: 12px;
        margin-top: -6px;
        background: url('../img/icons/answer.png') no-repeat center;
        transition: transform $transitionDuration ease-in;
      }
    }

    &-arrow {
      position: absolute;
      right: -55px; top: 50%;
      width: 41px; height: 41px;
      margin-top: -20.5px;
      background: url('../img/icons/answer-white.png') no-repeat center,
                  linear-gradient(to bottom, $coral, $pink);
      border-radius: 50%;
      opacity: 0;
      pointer-events: none;
    }

    &:hover &-to-answer:after {
      transform: translateX(5px);
    }

    &_active &-arrow {
      opacity: 1; 
    }
  }

  &__answers {
    margin-right: 75px;
    max-width: 530px;
    text-align: center;
  }

  &__answer {

    &:not([aria-hidden="false"]),
    &[aria-hidden="true"] {
      display: none;
    }

    &-title {
      font-family: $extrabold;
      font-style: italic;
      font-size: 36px;
      line-height: 40px;
      letter-spacing: calc(36px * .025);
      text-transform: uppercase;
      color: $blue;

      &:after {
        content: '';
        display: block;
        width: 90px; height: 1px;
        margin: 18px auto 0;
        background: rgba($blue, .5);
        box-shadow: 1px 2px 5.95px 1.05px rgba($blue, .5); 
      }
    }

    &-text {
      margin: 38px 0 0;
      font-size: 26px;
      line-height: 27px;
    }

    &-label {
      display: block;
      margin-top: 5px;
      font-family: $extrabold;
      font-style: italic;
      font-size: 30px;
      line-height: 1;
      letter-spacing: calc(30px * .025);
    }
  }
}


/* --------- director --------- */


.director {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('../img/bg-director.jpg') repeat top left;

  &__photo,
  &__content {
    min-width: 50%;
    width: 50%;
  }

  &__content {
    padding-right: calc((100vw - 1440px) / 2);
  }

  &__title {
    position: relative;
    height: 300px;
    padding: 50px 50px 0 0;
    font-family: $extrabold;
    font-style: italic;
    line-height: 1;
    text-align: right;
    text-transform: uppercase;

    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0;
      width: 475px; height: 300px;
      background: $white;
      box-shadow: 0 0 44.2px 20.8px rgba($blue, .09);
      pointer-events: none;
    }

    &-first,
    &-second,
    &-third,
    &-fourth {
      position: relative;
    }

    &-first,
    &-fourth {
      color: $blue;
    }

    &-second,
    &-third {
      display: block;
    }

    &-first {
      font-size: 36px;
      letter-spacing: calc(36px * .025);
    }

    &-second {
      margin-top: 5px;
      font-family: $light;
      font-size: 44px;
      letter-spacing: calc(44px * .025);
    }

    &-third {
      margin: 5px 0 10px;
      font-size: 72px;
      letter-spacing: calc(72px * .1);
    }

    &-fourth {
      font-size: 48px;
      letter-spacing: calc(48px * .025);
    }
  }

  &__cite-it,
  &__cite-ru {
    font-family: $light;
    font-style: italic;
    line-height: 26px;
    text-align: center;
  }

  &__cite-it {
    margin: 40px 0 0;
    font-size: 20px;
    letter-spacing: calc(20px * .007);
  }

  &__cite-ru {
    margin: 15px 0 0;
    font-size: 22px;
    letter-spacing: calc(22px * .007);
    color: $blue;
  }

  &__info {
    margin: 50px 0 0;
    font-style: italic;

    &-name {
      font-family: $extrabold;
      font-size: 24px;
      line-height: 1;
      letter-spacing: calc(24px * .025);
      text-transform: uppercase;
    }

    &-post {
      font-family: $light;
      font-size: 16px;
      letter-spacing: calc(16px * .012);
      color: $blue;
    }
  }

  &__sign {
    display: block;
    width: 310px;
    margin-left: auto;
    margin-top: -70px;
    pointer-events: none;
  }
}


/* --------- order 2 --------- */


.order2 {
  position: relative;
  padding: 145px calc((100vw - 1440px) / 2) 0;
  background-image: url('../img/bg-order.jpg');

  &:before {
    content: '';
    position: absolute;
    top: 140px; right: calc((100vw - 1440px + 240px) / 2);
    width: 714px; height: 714px;
    background: url('../img/bg-form-2.png') no-repeat center;
    pointer-events: none;
  }

  &__title {
    
    &-first {
      font-family: $light;
      font-style: italic;
      font-size: 40px;
      line-height: 47px;
      letter-spacing: calc(40px * .025);
      text-transform: uppercase;
      color: $blue;
    }

    &-second {
      display: block;
      margin: 20px 0 0;
      font-family: $extrabold;
      font-style: italic;
      font-size: 72px;
      line-height: 77px;
      letter-spacing: calc(72px * .025);
      text-transform: uppercase;
      color: $white
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 1077px;
    margin: 45px 0 0;

    .form__input,
    .form__textarea {
      font-size: 18px;
      letter-spacing: calc(18px * .012);
    }

    .form__input {
      width: 351px; height: 46px;
      margin: 0;
      border: 1px solid mix($coral, $pink, 50%);
      border-radius: 35px;

      &:not(:last-of-type) {
        margin-right: 12px;
      }
    }

    .form__textarea {
      margin: 45px 0 0;
    }

    .form__submit {
      margin: 40px 0 0 60px;
    }
  }
}


/* --------- contacts --------- */


.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 calc((100vw - 1440px) / 2);
  color: $blue-dark;
  background: $white;

  &__title,
  &__info,
  &__copyrights {
    position: relative;
  }

  &__title {
    font-family: $extrabold;
    font-size: 48px;
    line-height: 1;
    letter-spacing: calc(48px * .035);
    text-transform: uppercase;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 90px auto 0;

    &-russia,
    &-italy {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: calc(50% - 5px);
      min-height: 375px;
      padding: 0 0 0 150px;
      background: $white;

      &:after {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        box-shadow: 0 0 44.2px 20.8px rgba($blue, .09);
      }
    }

    &-country {
      position: absolute;
      bottom: 155px; left: -83px;
      transform: rotate(-90deg);
      font-family: $extrabold;
      font-size: 60px;
      line-height: 1;
      letter-spacing: calc(60px * .035);
      text-transform: uppercase;
      color: $blue;
      user-select: none;
      pointer-events: none;
    }

    &-phone,
    &-email {
      position: relative;
      color: $blue-dark;
      z-index: 1;
      transition: color $transitionDuration ease;

      &:hover { color: mix($coral, $pink, 50%); }
    }

    &-phone {
      margin-left: 13px;
      padding-left: 62px;
      font-family: $extrabold;
      font-size: 30px;
      line-height: 37px;
      letter-spacing: calc(30px * .012);
      background: url('../img/icons/phone.png') no-repeat center left;
    }

    &-email {
      margin: 50px 0 40px;
      padding-left: 77px;
      font-size: 24px;
      line-height: 25px;
      letter-spacing: calc(24px * .012);
      background: url('../img/icons/email.png') no-repeat center left;
    }

    &-address {
      margin-left: 10px;
      padding-left: 68px;
      font-size: 24px;
      line-height: 27px;
      letter-spacing: calc(24px * .025);
      background: url('../img/icons/map.png') no-repeat center left;
    }
  }

  &__copyrights {
    font-family: $light;
    font-size: 14px;
    line-height: 1;
    letter-spacing: calc(14px * .012);
    text-align: center;
    color: rgba($blue, .3);
  }

  &__decor-text {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-family: $extrabold;
    font-size: 130px;
    line-height: 1;
    letter-spacing: calc(130px * .035);
    text-align: center;
    text-transform: uppercase;
    color: mix($coral, $pink, 50%);
    background: -webkit-linear-gradient($coral, $pink);
    -webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
    opacity: .1;
    pointer-events: none;

    &-first, &-second {
      display: block;
    }

    &-first { position: relative; top: -50px; }
    &-second { margin: 250px 0 0; }
  }

  &__button {
    margin: 60px auto;

    &:after {
      content: none;
    }
  }
}


/* --------- form --------- */


.form {

  &__input,
  &__textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-family: $light;
    font-style: italic;
    font-size: 24px;
    letter-spacing: calc(24px * .05);
    color: $white;
    background: transparent;
    border: 1px solid mix($coral, $pink, 50%);
    border-radius: 25px;

    &::-webkit-input-placeholder { color: $white; }
    &:-moz-input-placeholder { color: $white; opacity: 1; }
  }

  &__input {
    line-height: 1;
    text-align: center;
  }

  &__textarea {
    width: 485px; height: 111px;
    padding: 15px 20px;
    resize: none;
  }

  &__checkbox {
    display: none;

    &-single {
      width: calc(50% - 6px);
      margin: 10px 0 0;
      padding: 0 0 8px;
      text-align: center;
      border-bottom:  1px solid $coral;

      &:nth-child(odd) { margin-right: 6px; }
      &:nth-child(even) { margin-left: 6px; }
    } 
  }

  &__radio {
    display: none;

    &-single {
      margin: 15px 0 0;
    }
  }

  &__label {
    position: relative;
    font-style: italic;
    letter-spacing: calc(16px * .025);
    cursor: pointer;
    user-select: none;
  }

  &__checkbox + &__label:before,
  &__radio + &__label:after {
    position: absolute;
    width: 21px; height: 17px;
    bottom: 4px;
    background: url('../img/icons/checkbox.png') no-repeat center;
  }

  &__checkbox + &__label:before { right: -4px; }
  &__radio + &__label:after { left: 4px;}

  &__checkbox + &__label:after,
  &__radio + &__label:before {
    content: '';
    display: inline-block;
    width: 20px; height: 20px;
    transform: translateY(-1px);
    border: 1px solid mix($coral, $pink, 50%);
    border-radius: 3px;
    vertical-align: middle;
  }

  &__checkbox + &__label:after { margin-left: 20px; }
  &__radio + &__label:before { margin-right: 10px; }

  &__checkbox:checked + &__label:before,
  &__radio:checked + &__label:after {
    content: '';
  }

  &__group {

    &, &-title {
      width: 100%;
    }

    &-title {
      display: block;
      font-family: $semibold;
      font-style: italic;
      font-size: 20px;
      line-height: 1;
      letter-spacing: calc(20px * .025);
    }
  }
}

/* --------- modal --------- */


.mfp-wrap .mfp-content {
    transform: translateY(-600px);
    transition: all 0.25s ease;
    will-change: transform;
}
.mfp-ready .mfp-content { transform: translateY(0); }
